@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  button{
    @apply border border-black rounded-xl px-5 py-1
  }
}
.active {
  @apply underline text-[#289944] font-bold
}
.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}